<%# locals: (track:, track_counter: nil, track_iteration: nil, deletable: false, playable: true, enqueueble: false) -%>
<li class="track">
  <span class="track--number">
    <% if track == current_track %>
      <span class="track--number--text track--playing-indicator"></span>
    <% else %>
      <%= track_counter + 1 %>
    <% end %>
  </span>
  <% if enqueueble && current_user&.live_station&.live? %>
    <%= button_to live_station_tracks_path(track_id: track.id), method: :post, form_class: "track--title" do %>
      <span><%= track.title %></span>
    <% end %>
  <% elsif playable %>
    <%= link_to track.title, params.to_unsafe_h.merge(track_id: track.id), class: "track--title" %>
  <% else %>
    <span class="track--title"><%= track.title %></span>
  <% end %>
  <% if current_user %>
    <span class="track--actions">
      <% if deletable %>
        <%= button_to live_station_track_path(track), method: :delete, class: "track--action" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
          </svg>
        <% end %>
      <% end %>
    </span>
  <% end %>
  <span class="track--duration"><%= seconds_to_duration(track.duration) %></span>
</li>
