<%# locals: (track:, track_counter: nil, track_iteration: nil, deletable: false, enqueueble: false) -%>
<li class="track" data-controller="track" data-track-id-value="<%= track.id %>" data-track-playing-class="playing">
  <span class="track--number">
    <span class="track--playing-indicator"></span>
    <span class="track--number--text"><%= track_counter + 1 %></span>
  </span>
  <% if current_user&.live_station&.live? %>
    <%= button_to play_live_station_track_path(track), method: :post, form: {class: "track--title", "data-turbo-frame" => "player"} do %>
      <%= track.title %>
    <% end %>
  <% else %>
    <%= link_to track.title, play_track_path(track), class: "track--title", data: {"turbo-frame" => "player"} %>
  <% end %>
  <% if current_user %>
    <span class="track--actions">
      <% if enqueueble %>
        <%= button_to live_station_tracks_path(track_id: track.id), method: :post, class: "track--action" do %>
          <%= render "icons/plus" %>
        <% end %>
      <% end %>
      <% if deletable %>
        <%= button_to live_station_track_path(track), method: :delete, class: "track--action" do %>
          <%= render "icons/trash" %>
        <% end %>
      <% end %>
    </span>
  <% end %>
  <span class="track--duration"><%= seconds_to_duration(track.duration) %></span>
</li>
