<%# locals: (track:, station: nil, live: false, listeners_count: 0) -%>
<div class="player"
  data-controller="player"
  data-player-duration-value="<%= track&.duration %>"
  data-player-track-value="<%= track&.id %>"
  data-player-playing-class="player-playing"
  data-player-next-track-url-value="<%= live ? play_next_live_station_path : (!station && play_next_track_path(track))%>"
  data-player-track-outlet=".track"
>
  <% if track %>
    <div class="player--timeline" data-action="<%= "click->player#seek" if live || !station %>">
      <div class="player--timeline-progress" style="width:0%;" data-player-target="progress"></div>
    </div>
  <% end %>
  <% unless station %>
  <div class="player--controls">
    <span class="player-btn" data-action="click->player#play">
      <%= render "icons/play" %>
    </span>
    <span class="player-btn" data-action="click->player#pause">
      <%= render "icons/pause" %>
    </span>
  </div>
  <% end %>
  <div class="player--track">
    <% if station %>
      <div data-controller="listenable"
           data-listenable-station-value="<%= station&.id %>"
           data-listenable-target="count">
      <% if live %>
        <div class="player--radio">
          <span class="player--signal-icon">
            <%= render "icons/signal" %>
          </span>
          <%= link_to "Live!", live_station_path, class: "player--title ml-2" %>
          <span class="player--listeners pr-1.5">
            <span class="player--listeners--icon">
              <%= render "icons/listeners_counter" %>
            </span>
            <span id="listeners-count-id" class="player--listeners--count">
              1
            </span>
          </span>
        </div>
      <% else %>
        <div class="player--radio">
          <%= render "icons/radio" %>
          <span class="player--author ml-2">
            <%= station.name%>
          </span>
        </div>
        <%= turbo_stream_from station %>
      <% end %>
      </div>
    <% end %>
    <% if track %>
      <% if track.album.cover.attached? %>
      <div class="player--cover">
        <%= image_tag track.album.cover %>
      </div>
      <% end %>
      <div class="player--info">
        <span class="player--title">
          <%= track.title %>
        </span>
        <%= link_to track.album.artist.name, artist_path(track.album.artist), class: "player--author" %>
      </div>
    <% end %>
  </div>
  <% if track %>
    <div class="player--timestamps">
      <span class="player--current-time" data-player-target="time">00:00</span>
      <span>&nbsp; / &nbsp;</span>
      <span><%= seconds_to_duration(track.duration) %></span>
    </div>
  <% end %>
</div>
