<%# locals: (album: nil) -%>
<%= turbo_frame_tag :aside, class: "aside", target: "_top", data: {"morph-permanent" => true}, "transition-name" => "aside" do %>
  <% next unless album %>
  <div transition-id="<%= album.id %>">
    <div class="album-info">
      <div class="album-header">
        <div class="flex flex-row justify-between">
          <h2 class="text-header-3"><%= album.title %></h2>
        </div>
        <%= link_to album.artist.name, artist_path(album.artist), class: "text-header-4 text-secondary hover:text-black transition-colors" %>
      </div>

      <div class="album-meta">
        <span class="meta"><%= album.year %></span>
        <span class="meta"><%= album.tracks_count %> tracks</span>
      </div>
    </div>

    <ul class="tracks p-2">
      <%= render album.tracks, enqueueble: true %>
    </ul>
  </div>
<% end %>
