<%- content_for :content do %>
  <%= render partial: "shared/nav" %>

  <div class="main">
    <%= yield %>
  </div>

  <%= render partial: "albums/aside" %>

  <%- if current_user&.live_station&.live? %>
    <%= render partial: "shared/player", locals: {station: current_user.live_station, track: current_user.live_station.current_track, live: true} %>
  <% else %>
    <%= render partial: "shared/player" %>
  <% end %>
<%- end -%>

<%= render template: "layouts/core" %>
