<%- content_for :content do %>
  <%= render partial: "shared/nav" %>

  <div class="main">
    <%= yield %>
  </div>

  <%= render partial: "albums/aside" %>

  <%- if current_station %>
    <%= render partial: "shared/player", locals: {station: current_station, track: current_station.current_track} %>
  <%- elsif current_track -%>
    <%= render partial: "shared/player", locals: {track: current_track} %>
  <%- end %>
<%- end -%>

<%= render template: "layouts/core" %>
