<!DOCTYPE html>
<html class="<%= "debug" if Rails.application.config.x.debug_html %>">
  <head>
    <title>Pencil MC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen relative">
    <%= render "layouts/flash" %>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>
</html>
